.p {
    text-align: justify;
}


.nav-container {
    background-color: #2c2c2c;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
}

.body-container {
    background-image: linear-gradient(to right, black, #575757);
    justify-content: space-around;
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;

}

.gru {
    position:absolute;
}
.minion{
    display: flex;
    padding-top: 130px;
    align-items: end;
}
.about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    position: relative;
}

.ach-container {
    background-color: #2c2c2c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    position: relative;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    position: relative;
}

.box {
    text-align: center;
    box-shadow: 4px 2px 105px gray;
    border-radius: 10px;
}

.contact-form textarea {
    resize: none;
}

.contact-form .form-input,
.form-text-area {
    background-color: #f0f4f5;
    height: 50px;
    padding-left: 16px;
}

.contact-form .form-text-area {
    background-color: #f0f4f5;
    height: auto;
    padding-left: 16px;
}

.contact-form .form-control::placeholder {
    color: #aeb4b9;
    font-weight: 500;
    opacity: 1;
}